<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">

	<welcome-file-list>
  		<welcome-file>login.html</welcome-file>
	</welcome-file-list>
	
	<servlet>
		<servlet-name>About</servlet-name>
		<servlet-class>org.chemvantage.About</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>About</servlet-name>
		<url-pattern>/About</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Activate</servlet-name>
		<servlet-class>org.chemvantage.Activate</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Activate</servlet-name>
		<url-pattern>/Activate</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Admin</servlet-name>
		<servlet-class>org.chemvantage.Admin</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Admin</servlet-name>
		<url-pattern>/Admin</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>BLTILaunch</servlet-name>
		<servlet-class>org.chemvantage.BLTILaunch</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BLTILaunch</servlet-name>
		<url-pattern>/BLTILaunch</url-pattern>
		<url-pattern>/BLTILaunch/</url-pattern>
		<url-pattern>/blti/</url-pattern>
		<url-pattern>/blti</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>CalculateScores</servlet-name>
		<servlet-class>org.chemvantage.CalculateScores</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CalculateScores</servlet-name>
		<url-pattern>/CalculateScores</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>CASLaunch</servlet-name>
		<servlet-class>org.chemvantage.CASLaunch</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CASLaunch</servlet-name>
		<url-pattern>/cas/</url-pattern>
		<url-pattern>/cas</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Contribute</servlet-name>
		<servlet-class>org.chemvantage.Contribute</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Contribute</servlet-name>
		<url-pattern>/Contribute</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>DataStoreCleaner</servlet-name>
		<servlet-class>org.chemvantage.DataStoreCleaner</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DataStoreCleaner</servlet-name>
		<url-pattern>/DataStoreCleaner</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>DataTransfer</servlet-name>
		<servlet-class>org.chemvantage.DataTransfer</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DataTransfer</servlet-name>
		<url-pattern>/DataTransfer</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>DomainAdmin</servlet-name>
		<servlet-class>org.chemvantage.DomainAdmin</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DomainAdmin</servlet-name>
		<url-pattern>/admin</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Edit</servlet-name>
		<servlet-class>org.chemvantage.Edit</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Edit</servlet-name>
		<url-pattern>/Edit</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Feedback</servlet-name>
		<servlet-class>org.chemvantage.Feedback</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Feedback</servlet-name>
		<url-pattern>/Feedback</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Groups</servlet-name>
		<servlet-class>org.chemvantage.Groups</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Groups</servlet-name>
		<url-pattern>/Groups</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Home</servlet-name>
		<servlet-class>org.chemvantage.Home</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Home</servlet-name>
		<url-pattern>/Home</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Homework</servlet-name>
		<servlet-class>org.chemvantage.Homework</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Homework</servlet-name>
		<url-pattern>/Homework</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Login</servlet-name>
		<servlet-class>org.chemvantage.Login</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/login.html</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>LoginRequiredServlet</servlet-name>
		<servlet-class>org.chemvantage.LoginRequiredServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginRequiredServlet</servlet-name>
		<url-pattern>/_ah/login_required</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Logout</servlet-name>
		<servlet-class>org.chemvantage.Logout</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Logout</servlet-name>
		<url-pattern>/Logout</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ManageDemoPremiumAccounts</servlet-name>
		<servlet-class>org.chemvantage.ManageDemoPremiumAccounts</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ManageDemoPremiumAccounts</servlet-name>
		<url-pattern>/ManageDemoPremiumAccounts</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Notification</servlet-name>
		<servlet-class>org.chemvantage.Notification</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Notification</servlet-name>
		<url-pattern>/Notification</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>OpenIdLaunch</servlet-name>
		<servlet-class>org.chemvantage.OpenIdLaunch</servlet-class>
		<init-param>
			<param-name>realm</param-name>
			<param-value>http://www.chemvantage.org</param-value>
		</init-param>
		<init-param>
			<param-name>return_to_path</param-name>
			<param-value>/openid</param-value>
		</init-param>
		<init-param>
			<param-name>home_path</param-name>
			<param-value>/Home</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>OpenIdLaunch</servlet-name>
		<url-pattern>/openid</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>OpenIdSetup</servlet-name>
		<servlet-class>org.chemvantage.OpenIdSetup</servlet-class>
		<init-param>
			<param-name>realm</param-name>
			<param-value>http://www.chemvantage.org</param-value>
		</init-param>
		<init-param>
			<param-name>return_to_path</param-name>
			<param-value>/setup</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>OpenIdSetup</servlet-name>
		<url-pattern>/setup</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>PracticeExam</servlet-name>
		<servlet-class>org.chemvantage.PracticeExam</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PracticeExam</servlet-name>
		<url-pattern>/PracticeExam</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Quiz</servlet-name>
		<servlet-class>org.chemvantage.Quiz</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Quiz</servlet-name>
		<url-pattern>/Quiz</url-pattern>
	</servlet-mapping>
	
	<servlet> 
  		<servlet-name>remote-api</servlet-name> 
 		 <servlet-class>com.google.apphosting.utils.remoteapi.RemoteApiServlet</servlet-class> 
	</servlet> 
	<servlet-mapping> 
		<servlet-name>remote-api</servlet-name> 
		<url-pattern>/remote_api</url-pattern> 
	</servlet-mapping> 

	<servlet>
		<servlet-name>Rescue</servlet-name>
		<servlet-class>org.chemvantage.Rescue</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Rescue</servlet-name>
		<url-pattern>/Rescue</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ResponseServlet</servlet-name>
		<servlet-class>org.chemvantage.ResponseServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ResponseServlet</servlet-name>
		<url-pattern>/ResponseServlet</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Scores</servlet-name>
		<servlet-class>org.chemvantage.Scores</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Scores</servlet-name>
		<url-pattern>/Scores</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>SendObjects</servlet-name>
		<servlet-class>org.chemvantage.SendObjects</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SendObjects</servlet-name>
		<url-pattern>/SendObjects</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>TransactionServlet</servlet-name>
		<servlet-class>org.chemvantage.TransactionServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TransactionServlet</servlet-name>
		<url-pattern>/TransactionServlet</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Upgrade</servlet-name>
		<servlet-class>org.chemvantage.Upgrade</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Upgrade</servlet-name>
		<url-pattern>/Upgrade</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>UserServiceLaunch</servlet-name>
		<servlet-class>org.chemvantage.UserServiceLaunch</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserServiceLaunch</servlet-name>
		<url-pattern>/userService</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Verification</servlet-name>
		<servlet-class>org.chemvantage.Verification</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Verification</servlet-name>
		<url-pattern>/Verification</url-pattern>
	</servlet-mapping>
	
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>AdminServlet</web-resource-name>
			<url-pattern>/Admin</url-pattern>
			<url-pattern>/remote_api</url-pattern>
			<url-pattern>/CalculateScores</url-pattern>
			<url-pattern>/DataStoreCleaner</url-pattern>
			<url-pattern>/DataTransfer</url-pattern>
			<url-pattern>/ManageDemoPremiumAccounts</url-pattern>
			<url-pattern>/Notification</url-pattern>
			<url-pattern>/Rescue</url-pattern>
			<url-pattern>/ResponseServlet</url-pattern>
			<url-pattern>/TransactionServlet</url-pattern>
			</web-resource-collection>
		<auth-constraint>
			<role-name>admin</role-name>
		</auth-constraint>
	</security-constraint>

</web-app>
