<?xml version="1.0" encoding="utf-8" standalone="no"?><web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<welcome-file-list>
  		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	
	<servlet>
		<servlet-name>About</servlet-name>
		<servlet-class>org.chemvantage.About</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>About</servlet-name>
		<url-pattern>/About</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Admin</servlet-name>
		<servlet-class>org.chemvantage.Admin</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Admin</servlet-name>
		<url-pattern>/Admin</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>CalculateScores</servlet-name>
		<servlet-class>org.chemvantage.CalculateScores</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CalculateScores</servlet-name>
		<url-pattern>/CalculateScores</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Contribute</servlet-name>
		<servlet-class>org.chemvantage.Contribute</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Contribute</servlet-name>
		<url-pattern>/Contribute</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>DataStoreCleaner</servlet-name>
		<servlet-class>org.chemvantage.DataStoreCleaner</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DataStoreCleaner</servlet-name>
		<url-pattern>/DataStoreCleaner</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>DataTransfer</servlet-name>
		<servlet-class>org.chemvantage.DataTransfer</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DataTransfer</servlet-name>
		<url-pattern>/DataTransfer</url-pattern>
	</servlet-mapping>
		
	<servlet>
		<servlet-name>Edit</servlet-name>
		<servlet-class>org.chemvantage.Edit</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Edit</servlet-name>
		<url-pattern>/Edit</url-pattern>
	</servlet-mapping>
		
	<servlet>
		<servlet-name>Feedback</servlet-name>
		<servlet-class>org.chemvantage.Feedback</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Feedback</servlet-name>
		<url-pattern>/Feedback</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Groups</servlet-name>
		<servlet-class>org.chemvantage.Groups</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Groups</servlet-name>
		<url-pattern>/Groups</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Home</servlet-name>
		<servlet-class>org.chemvantage.Home</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Home</servlet-name>
		<url-pattern>/index.html</url-pattern>
		<url-pattern>/Home</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Homework</servlet-name>
		<servlet-class>org.chemvantage.Homework</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Homework</servlet-name>
		<url-pattern>/Homework</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>LoginRequiredServlet</servlet-name>
		<servlet-class>org.chemvantage.LoginRequiredServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginRequiredServlet</servlet-name>
		<url-pattern>/_ah/login_required</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Logout</servlet-name>
		<servlet-class>org.chemvantage.Logout</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Logout</servlet-name>
		<url-pattern>/Logout</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>LTILaunch</servlet-name>
		<servlet-class>org.chemvantage.LTILaunch</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LTILaunch</servlet-name>
		<url-pattern>/lti</url-pattern>
		<url-pattern>/lti/</url-pattern>
		<url-pattern>/BLTILaunch/</url-pattern>
		<url-pattern>/BLTILaunch</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>LTIRegistration</servlet-name>
		<servlet-class>org.chemvantage.LTIRegistration</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LTIRegistration</servlet-name>
		<url-pattern>/lti/registration</url-pattern>
		<url-pattern>/lti/registration/</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>PracticeExam</servlet-name>
		<servlet-class>org.chemvantage.PracticeExam</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PracticeExam</servlet-name>
		<url-pattern>/PracticeExam</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Quiz</servlet-name>
		<servlet-class>org.chemvantage.Quiz</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Quiz</servlet-name>
		<url-pattern>/Quiz</url-pattern>
	</servlet-mapping>
	
	<servlet> 
		<display-name>Remote API Servlet</display-name>
  		<servlet-name>RemoteApiServlet</servlet-name> 
 		<servlet-class>com.google.apphosting.utils.remoteapi.RemoteApiServlet</servlet-class> 
		<load-on-startup>1</load-on-startup>
	</servlet> 
	<servlet-mapping> 
		<servlet-name>RemoteApiServlet</servlet-name> 
		<url-pattern>/remote_api</url-pattern> 
	</servlet-mapping> 

	<servlet>
		<servlet-name>ReportScore</servlet-name>
		<servlet-class>org.chemvantage.ReportScore</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ReportScore</servlet-name>
		<url-pattern>/ReportScore</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ResponseServlet</servlet-name>
		<servlet-class>org.chemvantage.ResponseServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ResponseServlet</servlet-name>
		<url-pattern>/ResponseServlet</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>SendObjects</servlet-name>
		<servlet-class>org.chemvantage.SendObjects</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SendObjects</servlet-name>
		<url-pattern>/SendObjects</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ToolSettingsManager</servlet-name>
		<servlet-class>org.chemvantage.ToolSettingsManager</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ToolSettingsManager</servlet-name>
		<url-pattern>/ToolSettingsManager</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>TransactionServlet</servlet-name>
		<servlet-class>org.chemvantage.TransactionServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TransactionServlet</servlet-name>
		<url-pattern>/TransactionServlet</url-pattern>
	</servlet-mapping>
		
	<servlet>
		<servlet-name>UserServiceLaunch</servlet-name>
		<servlet-class>org.chemvantage.UserServiceLaunch</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserServiceLaunch</servlet-name>
		<url-pattern>/userServiceLaunch</url-pattern>
	</servlet-mapping>
	
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>AdminServlet</web-resource-name>
			<url-pattern>/remote_api</url-pattern>
 			<url-pattern>/Admin</url-pattern>  
  			<url-pattern>/DataStoreCleaner</url-pattern> 
			<url-pattern>/Edit</url-pattern> 
			<url-pattern>/EmailScores</url-pattern> 
			<url-pattern>/ReportScore</url-pattern>
			<url-pattern>/ResponseServlet</url-pattern>
			<url-pattern>/ToolSettingsManager</url-pattern>
			<url-pattern>/TransactionServlet</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>admin</role-name>
		</auth-constraint>
	</security-constraint>
	
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>ForceSSL</web-resource-name>
			<url-pattern>/*</url-pattern>
		</web-resource-collection>
		<user-data-constraint>
			<transport-guarantee>CONFIDENTIAL</transport-guarantee>
		</user-data-constraint>			
	</security-constraint>
	
	<filter>
		<filter-name>ObjectifyFilter</filter-name>
		<filter-class>com.googlecode.objectify.ObjectifyFilter</filter-class>
	</filter>
	<filter-mapping>
	    <filter-name>ObjectifyFilter</filter-name>
	    <url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<listener>  
	    <listener-class>
	        org.chemvantage.EntityRegistrar
	    </listener-class>
	</listener>  
</web-app>